//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$fontfamily: Roboto, "Montserrat", sans-srif;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$colorgray: #333;
$colorlightgray: #484e5c;
$contrast: #ffffff;
$bgcolor: #f6f6f6;
$lmgreencolor: #66c05d;
$color-text-main: #333;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
