<section class="container">
  <h1 class="section-header">Выберите коллекцию фасадов</h1>
  <div class="cards__section container">
    <div class="item__card" *ngFor="let facadeItem of products">
      <img
        class="item__img"
        src="{{ facadeItem.imgUrl }}"
        width="200px"
        height="200px"
      />
      <h4 class="item__name">{{ facadeItem.name }}</h4>
      <p class="item__description">
        {{ facadeItem.material }}<span></span>{{ facadeItem.cover }}
      </p>
      <button
        class="item__choice-button"
        (click)="onClickChoose(facadeItem.idName)"
      >
        Выбрать
      </button>
    </div>
  </div>
</section>
<app-selected [typeOfProperty]="'facade'"></app-selected>
