<form class="container shape-box" id="shape-box" [formGroup]="geometryForm">
  <div class="section-header">
    <h2>Выберите геометрию кухни</h2>
  </div>
  <div class="geometry__cards-box">
    <label for="line-shaped" class="radio-container"
      >Прямая
      <input
        type="radio"
        id="line-shaped"
        name="shape"
        value="line"
        checked
        (focus)="shapeName = 'line'"
        formControlName="shape"
      />
      <span class="radio-checkmark"></span>
    </label>
    <label for="l-shaped-left" class="radio-container"
      >Угловая левая
      <input
        type="radio"
        id="l-shaped-left"
        name="shape"
        value="l-shaped-left"
        (focus)="shapeName = 'l-left'"
        formControlName="shape"
      />
      <span class="radio-checkmark"></span>
    </label>
    <label for="l-shaped-right" class="radio-container"
      >Угловая правая
      <input
        type="radio"
        id="l-shaped-right"
        name="shape"
        value="l-shaped-right"
        (focus)="shapeName = 'l-right'"
        formControlName="shape"
      />
      <span class="radio-checkmark"></span>
    </label>
    <label for="u-shaped" class="radio-container"
      >П-образная
      <input
        type="radio"
        id="u-shaped"
        name="shape"
        value="u-shaped"
        (focus)="shapeName = 'u'"
        formControlName="shape"
      />
      <span class="radio-checkmark"></span>
    </label>
  </div>
  <div class="enter__size-box">
    <div class="enter__size-display">
      <div
        class="enter__display-wall"
        [ngClass]="{
          'line-shaped': shapeName === 'line',
          'l-shaped-left': shapeName === 'l-left',
          'l-shaped-right': shapeName === 'l-right',
          'u-shaped': shapeName === 'u',
          'anim-top-border': animToWall === 'top',
          'anim-left-border': animToWall === 'left',
          'anim-right-border': animToWall === 'right'
        }"
      ></div>
    </div>
    <span class="enter__display-disclaimer"
      >Гарнитур будет занимать весь указанный размер!</span
    >
    <div class="enter__size-input-area">
      <label>
        Введитe первый размер:
        <input
          type="number"
          name="first"
          min="1000"
          maxlength="4"
          onkeypress="return onlyNumberKey(event)"
          onInput="checkLength(4,this)"
          (focus)="animWall(0)"
          formControlName="firstSize"
          autofocus
        />
      </label>
      <label [ngClass]="{ 'label-disabled': shapeName === 'line' }">
        Введитe второй размер:
        <input
          type="number"
          name="second"
          min="1000"
          maxlength="4"
          onkeypress="return onlyNumberKey(event)"
          onInput="checkLength(4,this)"
          [disabled]="shapeName === 'line'"
          (focus)="animWall(1)"
          formControlName="secondSize"
        />
      </label>
      <label [ngClass]="{ 'label-disabled': !(shapeName === 'u') }">
        Введитe третий размер:
        <input
          type="number"
          name="third"
          min="1000"
          maxlength="4"
          onkeypress="return onlyNumberKey(event)"
          onInput="checkLength(4,this)"
          [disabled]="!(shapeName === 'u')"
          (focus)="animWall(2)"
          formControlName="thirdSize"
        />
      </label>
    </div>
    <button
      class="next__btn btn"
      id="calc__btn"
      type="submit"
      (click)="onSubmitClick()"
    >
      Выполнить расчет
    </button>
  </div>
</form>
