@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.shape-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .section-header {
    align-self: flex-start;
  }
}

.geometry__cards-box {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.radio-container {
  $border: 4px;
  flex: 1 0 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .radio-checkmark {
      border: solid 4px $lmgreencolor;
    }
  }

  &:hover input ~ .radio-checkmark {
    background-color: lighten($colorlightgray, 20);
  }
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    display: block;
    // background: $colorgray;
    width: 4em;
    height: 2.5em;
    // border-radius: 3px;
    border: solid 5px $bgcolor;
    border-radius: 5px;
    border-bottom: none;
  }
  &:nth-child(1)::after {
    border-left: none;
    border-right: none;
  }
  &:nth-child(2)::after {
    border-right: none;
  }
  &:nth-child(3)::after {
    border-left: none;
  }
  //   &:nth-child(4)::after {
  //   }
  .radio-checkmark {
    position: relative;
    height: 100px;
    width: 150px;
    background-color: $colorlightgray;
    border-radius: 15px;
    @include anim(0.07s, 0s);
  }
}

.enter__size-box {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  .enter__size-input-area {
    align-self: flex-start;
    width: 290px;
    bottom: 0;
    margin-bottom: 20px;
    label {
      display: block;
      font-family: $fontfamily;
      line-height: 1.6;
      font-size: 1.17em;
      font-weight: bold;
      padding: 5px;
      &.label-disabled {
        opacity: 50%;
      }
    }
    input {
      float: right;
      line-height: 1.6;
      font-size: 1em;
      width: 50px;
      text-align: right;
      background-color: inherit;

      &:valid {
        border-bottom: solid 2px $lmgreencolor;
        animation: none;
      }
      &.is-invalid {
        border-bottom: solid 2px red;
        animation: none;
        // &:focus{
        // 	border-radius: unset;
        // 	border-bottom: solid 2px red;
        //     animation: underlineBlinking 1.6s linear infinite;
        // }
      }
      &:disabled {
        color: lighten($color-text-main, 50);
        border-bottom: none;
      }
    }
  }
  @keyframes underlineBlinking {
    50% {
      border-color: #fff;
    }
  }
}

.enter__size-display {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  height: 299px;
  width: 599px;
  background-size: 50px 50px;
  background-image: linear-gradient(to top, grey 1px, transparent 1px),
    linear-gradient(to left, grey 1px, transparent 1px);
  box-shadow: inset 0 0 10px #000000;
  .enter__display-wall {
    position: absolute;
    content: "";
    display: block;
    height: 205px;
    margin-bottom: 4px;
    width: 310px;
    border: hidden 14px $colorgray;
  }

  .line-shaped {
    margin-top: 90px;
    border-left-style: solid;
    transform: rotate(90deg);
    height: 310px;
    width: 205px;
  }
  .l-shaped-left {
    border-left-style: solid;
    border-top-style: solid;
  }
  .l-shaped-right {
    border-left-style: solid;
    border-top-style: solid;
    transform: rotate(90deg);
    height: 309px;
    width: 205px;
  }
  .u-shaped {
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
  }
  .anim-left-border {
    animation: leftBorderLineBlinking 1.5s linear infinite;
    @keyframes leftBorderLineBlinking {
      20% {
        border-left-color: $lmgreencolor;
      }
    }
  }
  .anim-top-border {
    animation: topBorderLineBlinking 1.5s linear infinite;
    @keyframes topBorderLineBlinking {
      20% {
        border-top-color: $lmgreencolor;
      }
    }
  }
  .anim-right-border {
    animation: rightBorderLineBlinking 1.5s linear infinite;
    @keyframes rightBorderLineBlinking {
      20% {
        border-right-color: $lmgreencolor;
      }
    }
  }
}

.next__btn {
  margin-bottom: 20px;
}
