<section class="container">
  <h1 class="section-header">Выберите столешницу</h1>
  <div class="cards__section container">
    <div
      class="item__card"
      *ngFor="let countertopItem of products"
      id="resh_blue"
    >
      <img
        class="item__img"
        src="{{ countertopItem.imgUrl }}"
        width="200px"
        height="200px"
      />
      <h4 class="item__name">{{ countertopItem.name }}</h4>
      <p class="item__description">
        {{ countertopItem.material
        }}<span *ngIf="countertopItem.cover !== ''"></span
        >{{ countertopItem.cover }}
      </p>
      <button
        href="#"
        class="item__choice-button"
        (click)="onClickChoose(countertopItem.idName)"
      >
        Выбрать
      </button>
    </div>
  </div>
</section>
<app-selected [typeOfProperty]="'countertop'"></app-selected>
